# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Scientists
* List commonly used libraries by Data Scientists
* Examples of basic arithmetic expressions executed in Python$

Some of the popular languages Data Scientists use are:
1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:


1. NumPy
2. Tensorflow
3. SciPy

| Data Science Tools |
----------------------
| Git|
| Kylo |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [11]:
 # This will convert 200 minutes to hours by dividing by 60.

(200/60)

3.3333333333333335

## Author

Elizabeth Rogers